<div class="container py-8 md:py-12">
    <div class="prose">
        <h2>Results for: "<span class="italic">{{ get:q }}</span>"</h2>
    </div>

    {{ search:results as="results" }}
        {{ if results }}
            <div class="container py-8 md:py-12">
                {{ results }}
                    {{ partial:partials/posts/card }}
                {{ /results }}
            </div>
        {{ else }}
            <p class="mt-8 text-center md:mt-12">No results found.</p>
        {{ /if }}
    {{ /search:results }}
</div>
