{{ paginate }}
    {{ if next_page || prev_page }}
        <nav class="flex justify-between mt-12 md:mt-16">
            {{ buttonClasses = "
                            relative inline-flex items-center px-3 py-2
                            text-sm font-semibold text-gray-900
                            bg-white rounded-md ring-1 ring-inset ring-gray-300
                            hover:bg-gray-50 focus-visible:outline-offset-0
                        " }}
            {{ if prev_page > 1 }}
                <a href="{{ prev_page }}" aria-label="Previous" class="{{ buttonClasses }}">Previous</a>
            {{ else }}
                <button disabled type="button" class="{{ buttonClasses }} hover:bg-white opacity-50 cursor-not-allowed" aria-label="Previous">Previous</button>
            {{ /if }}

            <div>
                Page {{ current_page }} of {{ total_pages }}
            </div>

            {{ if next_page }}
                <a href="{{ next_page }}" aria-label="Next" class="{{ buttonClasses }}">Next</a>
            {{ else }}
                <button disabled type="button" class="{{ buttonClasses }} hover:bg-white opacity-50 cursor-not-allowed" aria-label="Next">Next</button>
            {{ /if }}
        </nav>
    {{ /if }}
{{ /paginate }}
