<div class="mb-6 flex gap-4">
    <div class="mt-1 w-20">
        <a href="{{ permalink }}">
            {{ featured_image }}
                <img src="{{ url }}" alt="{{ alt }}" class="aspect-square w-full max-h-full object-cover rounded" />
            {{ /featured_image }}
        </a>
    </div>
    <div>
        <h3 class="font-bold text-3xl">
            <a href="{{ permalink }}">{{ title }}</a>
        </h3>
        {{ partial:partials/posts/byline }}
        <p>
            {{ if summary }}
                {{ summary | safe_truncate(250, '...') }}
            {{ else }}
                {{ content | bard_text | safe_truncate(250, '...') }}
            {{ /if }}
        </p>
        {{ partial:partials/posts/categories }}
    </div>
</div>
